.video{
    width: 70%;
    border-radius: 20px;
    border: rgba(231, 183, 103, .1) 1px solid;
    overflow: hidden;
}

.video iframe{
    width: 100%;
    min-height: 500px;
}

@media (max-width: 1400px){
    .video{
        width: 100%;
    }

    
}

@media (max-width: 900px) {
    .video iframe{
        min-height: 300px;
    }
}

@media (max-width: 700px) {
    .video iframe{
        min-height: 200px;
    }
}