.main {
  min-height: 100vh;
  background: linear-gradient(160deg, #005170 0%, #250b5b 100%);
  display: flex;
  justify-self: center;
  align-items: center;
}

.box{
  --border-width: 20px;
  width: 80%;
  max-width: 500px;
  margin: 0 auto 0 auto;
  border-radius: var(--border-width);
  background: #000;
  box-shadow: 1px 3px 5px rgba(0,0,0, .5);
  display: flex;
  flex-direction: column;
  border-top: 5px solid #f3ca25;
  animation: pulseShadow 2s infinite;
  align-items: center;
  overflow: hidden;
}

.donthavetelegram p{
  color: #b5b5b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.donthavetelegram p a{
  text-decoration: underline;
  color: yellow;
}

.button_container{
  padding: 10px;
}

.donthavetelegram {
  background: #2ea5d9;
  background-image: linear-gradient(#000, #2ea5d9);
  width: 100%;
  padding: 10px;
}


.box figure {
  width: 250px;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid transparent;
}

.box figure img{
  width: 100%;  
}

.box button{
  padding: 15px 10px;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
  background-color: #2ea5d9;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transform: scale(1);
	animation: pulse 2s infinite;
  margin-bottom: 2px;
}

.box button span {
  margin-right: 10px;
}

.box button span img{
  width: 45px;
}

.box header {
  margin-top: -20px;
  background-color: #000;
  padding: 20px 30px;
  border-radius: 10px;
  border-top: 5px solid #f3ca25;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes pulseShadow {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}